.post-view-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.post-input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    border-block-end: 1px solid var(--background-modifier-border);
}

.post-input-textarea {
    min-height: 100px;
    min-width: 0;
    width: 100%;
    margin-inline: auto;
    max-width: 500px;
    font-size: 1rem;
    resize: vertical;
    padding: 8px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 4px;
    background-color: var(--background-secondary);
    color: var(--text-normal);
}

.notes-list-container {
    max-width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.post-notes-ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

/* Base container for each post */
.post-item {
    position: relative;
    padding: 15px;
    width: 500px;
    max-width: 100%;
    margin-inline: auto;
    margin-block-end: 15px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    background-color: var(--background-secondary);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: 100ms;
}

.post-item:last-child {
    margin-block-end: 0;
}

.post-header {
    display: flex;
    align-items: baseline;
    margin-block-end: 8px;
    flex-wrap: wrap;
}

.post-display-name {
    font-weight: bold;
    color: var(--text-normal);
    margin-inline-end: 5px;
}

.post-username {
    color: var(--text-muted);
    margin-inline-end: 5px;
    flex-grow: 1;
}

.post-username::before {
    content: "@";
}

.post-timestamp {
    color: var(--text-muted);
    font-size: 0.8em;
    justify-self: flex-end;
}

.post-view {
    margin: 0;
    position: relative;
}

.post-content {
    overflow-x: scroll;
    font-size: 1rem;
    user-select: text;
    color: var(--text-normal);
}

.post-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
    padding-block-start: 10px;
    border-block-start: 1px solid var(--background-modifier-border-hover);
}

@container (width < 400px) {
    .post-actions {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }
}

.post-action-button {
    background: none;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    color: var(--text-muted);
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.post-action-button:hover {
    background-color: var(--background-modifier-hover);
    color: var(--text-normal);
}

.post-heart-button.liked {
    color: #e74c3c;
}

.post-action-button svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
}